:root {
    --cookie-img-height: 25rem;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: #e6eeff;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    text-decoration: underline;
}

footer {
    font-size: 1.4rem;
    background-color: #c4c4c4;
    text-align: center;
    padding-top: 5px;
    margin-top: 10rem;
}

div#container {
    position: relative;
    height: var(--cookie-img-height);
}

img#cookie {
    aspect-ratio: 1;
    height: var(--cookie-img-height);
    position: absolute;
    inset: 0 calc(50vw - var(--cookie-img-height)/2);
    z-index: 10;
    border-radius: 50%;
    transform: rotateY(180deg);
}

.open {
    animation: 3s opening ease-in-out forwards;
}

img#open-cookie {
    --open-cookie-width: 35rem;
    height: var(--cookie-img-height);
    width: var(--open-cookie-width);
    position: absolute;
    inset: 0 calc(50vw - var(--open-cookie-width)/2);
    opacity: 0;
    transform: rotateY(180deg);
}

p#fortune {
    font-size: 1.6rem;
    position: absolute;
    top: 42%;
    left: calc(50% - 90px);
    background-color: white;
    padding: 8px 10px;
    min-width: 15rem;
    text-align: center;
    opacity: 0;
    border: 1px solid black;
    margin-right: 1rem;
}

.reveal {
    transition: all 1s linear 2s;
    opacity: 1 !important;
}

#btn-fortune {
    display: block;
    margin: 2rem auto;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #121212;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
}

.glow-on-hover::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -4px;
    left:-4px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover::before {
    opacity: 1;
}

.glow-on-hover::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #121212;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes opening {
    from {
        transform: rotateY(180deg);
    }

    15% {
        transform: rotateY(180deg) rotate(-25deg);
    }

    60% {
        transform: rotateY(180deg) rotate(90deg);
        opacity: 1;
    }

    90% {
        transform: rotateY(180deg) rotate(90deg) rotateX(70deg) scaleY(140%) translateY(-15rem);
    }

    to {
        transform: rotateY(180deg) rotate(90deg) rotateX(70deg) scaleY(140%) translateY(-15rem);
        opacity: 0;
    }
}

@media screen and (max-width: 500px){
    p#fortune {
        left: 0;
        margin-left: 1rem;
    }
}